---
import NavigationBar, { PageType } from '../components/NavigationBar.astro';
import Layout from '../layouts/BaseLayout.astro';

import createSlug from '../lib/createSlug';
import { getCollection } from 'astro:content';

const blogEntries = await getCollection('blog', entry => (import.meta.env.DEV || !entry.data.draft));
---

<Layout title="Welcome to Astro.">
  <NavigationBar pageType={PageType.Home} />
	<main>
		<h1>Ahmed Khalf</h1>
		<h2>Blog</h2>
    {blogEntries.map(async entry => {
        return <a href={`/posts/${createSlug(entry.data.title)}`}>{entry.data.title}</a>;
    })}
	</main>
</Layout>

<style>
	main {
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
	}
</style>
