---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="Ahmed's Blog Web Feed" href={new URL("rss.xml", Astro.site)} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
  	<div class="spacer"></div>
	</body>
</html>
<style>
  .spacer {
    height: 65vh;
  }
</style>
<style is:global>
	:root {
		color-scheme: light dark;
	}

	body {
		margin: 0;
		line-height: 1.5;
		font-size: 1.1rem;

    color: #333333;
	}

	html {
		font-family: system-ui, sans-serif;
    background: #F9F9F9;
	}

  @media (prefers-color-scheme: dark) {
    body {
		  color: #e0e0e0;
    }

    html {
      background: #13151a;
    }

    a {
      color: #8c8cff;
    }

    a:visited {
      color: #ffadff;
    }
  }

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
